body {
    background-color: lightgrey;
    color :green;
}

h1 {
    color: blue;
}

p {
    color:green;
}
.top {
    position:absolute;
    left:0; right:0;
    height: 92px;
}
.left {
    position:absolute;
    left:0; top:92px; bottom: 0;
    width: 178px;
}
.main {
    position: absolute;
    left:178px; top:92px; right:0; bottom:0;
}
@charset "utf-8";
.courier {
	font-family: Courier;
	color: green;
}